<h1>Places I spend:</h1>
<a href="/places/new">Add new place</a>
<br />
<br />
<hr />
<%for merchant in @merchants%>
<h3><%=merchant.name.capitalize%></h3>
<a href="/places/<%=merchant.id%>">more details</a>
<hr />
<%end%>
<br />
<a href="/">home</a>
