<h1>Places you spend:</h1>
<a href="/merchants/new">Add new place</a>
<br />
<br />
<hr />
<%for merchant in @merchants%>
<h3><%=merchant.name%></h3>
<a href="/merchants/<%=merchant.id%>">more details</a>
<hr />
<%end%>
