<h1>Add a new spending place:</h1>
<form action="/merchants" method="POST">
  <label for="new-name">Name:</label>
  <input type="text" name="name" id="new-name">

  <input type="submit" value="Add">

</form>
