<h1>Add a new spending place:</h1>
<form action="/places" method="POST">
  <label for="new-name">Name:</label>
  <input required type="text" name="name" id="new-name">

  <input type="submit" value="Add">

</form>
<a href="/spending">go to my spending</a>
