<h3>A closer look at</h3>
<h1><%= @merchant.name.capitalize %></h1>
<a href="/places/<%= @merchant.id %>/edit">edit</a>

<form class="delete" action="/places/<%= @merchant.id %>/delete" method="POST">
  <input type="submit" value="delete">
</form>

<br />
<br />
<a href="/places">back to my places</a>
