<img src="/Smaug.jpg" alt="dragon on gold" width="20%">
<h1 class="name">MoneyDragon</h1>
<h3 class="tagline">Helping you hoard your money!</h3>

<p class="desc">Dragons like to save their money and hoard it...</p>
<p class="desc">MoneyDragon will help you hoard yours!</p>

<p class="spending">See your spending!</p>
<p class="analyse">Analyse it!</p>
<p class="hoard">Hoard it!</p>
