<div class="home flex flex-column">
  <div class="hlogo flex flex-column align-center">
    <img class="hlogo-dragon justify-center" src="/img/dragongif.gif" alt="dragon on gold">
    <img class="hlogo-words justify-center" src="/img/moneydragon-text-trans.png" alt="moneydragon text">
  </div>

  <h1 class="tagline">Helping you hoard your money!</h1>

  <p class="desc">Dragons like to save their money and hoard it...</p>
  <p class="desc">MoneyDragon will help you hoard yours!</p>

  <div class="fun-words flex flex-row">
  <div class="spending">See your spending!</div>
  <div class="analyse">Analyse it!</div>
  <div class="hoard">Hoard it!</div>
  </div>
</div>
