<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css" type="text/css">
  <title>MoneyDragon</title>
</head>
<body>
  <section class="flex flex-column">
  <nav>
    <ul class="nav-list flex flex-column">
      <div class="nav-btns flex flex-row">
      <li class="nav-btn"><a href="/">Home</a></li>
      <li class="nav-btn"><a href="/spending">My Spending</a></li>
      <li class="nav-btn"><a href="/places">My Places</a></li>
      <li class="nav-btn"><a href="/tags">My Tags</a></li>
      </div>
      <br />
      <li class="add-spend nav-btn"><a href="/spending/new">Add Spend</a></li>
    </ul>
  </nav>
  <%= yield %>
  </section>
</body>
</html>
