<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" href="/img/dragonhead.png"/>

  <link rel="stylesheet" href="/styles/home.css" type="text/css">
  <link rel="stylesheet" href="/styles/forms.css" type="text/css">
  <link rel="stylesheet" href="/styles/buttons.css" type="text/css">
  <link rel="stylesheet" href="/styles/transactions.css" type="text/css">
  <link rel="stylesheet" href="/styles/style.css" type="text/css">
  <title>MoneyDragon</title>
</head>
<body>
    <nav>
      <ul class="nav-list top">
        <div class="nav-btns flex flex-row">
          <li class="nav-btn flex"><a href="/">Home</a></li>
          <li class="nav-btn flex"><a href="/spending">My Spending</a></li>
          <li class="nav-btn flex"><a href="/budgets">My Budgets</a></li>
          <li class="nav-btn flex"><a href="/places">My Places</a></li>
          <li class="nav-btn flex"><a href="/tags">My Tags</a></li>
        </div>
      </ul>
    </nav>
    <br />

    <div class="flex flex-column content">
        <ul class="top flex-row">
          <li class="add-spend nav-btn flex"><a href="/spending/new">Add Spend</a></li>
        </ul>

      <%= yield %>
    </div>
  <nav class="foot nav-list">
    <p>Artwork by Gillian Shanks</p>
  </nav>
</body>
</html>
