<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css" type="text/css">
  <title>MoneyDragon</title>
</head>
<body>
  <section class="flex">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/purchases">Your Purchases</a></li>
      <li><a href="/merchants">Your Places</a></li>
      <li><a href="/tags">Your Tags</a></li>
      <li class="add_purchase"><a href="/purchases/new">Add Purchase</a></li>
    </ul>
  </nav>
  <%= yield %>
  </section>
</body>
</html>
