<div class="sml-logo flex flex-row">
  <img class="sml-logo-dragon justify-center" src="/img/dragongif.gif" alt="dragon on gold">
  <img class="sml-logo-words justify-center" src="/img/md-txt-trans.png" alt="moneydragon text">
</div>

<h1>Add a new tag:</h1>

<form class="flex ctr-form" action="/tags" method="POST">
  <label style="padding:0em 1em 0em 0em;" for="tag-type">Type:</label>
  <input required type="text" id="tag-type" name="type">
  <input class="submit-btn" type="submit" value="add">
</form>
<br />
<a class="ctr-btn inline-flex" href="/tags">go to my tags</a>
