<h1>Your <%=@tag.type%> tag</h1>

<a class="edit" href="/tags/<%=@tag.id%>/edit">edit</a>
<form action="/tags/<%=@tag.id%>/delete" method="POST">
  <input class="delete" type="submit" value="delete">
</form>
<br />
<a href="/tags">back</a>
