<div class="sml-logo flex flex-row">
  <img class="sml-logo-dragon justify-center" src="/img/dragongif.gif" alt="dragon on gold">
  <img class="sml-logo-words justify-center" src="/img/md-txt-trans.png" alt="moneydragon text">
</div>

<h4>A closer look at</h4>
<h1><%=@tag.type%></h1>

<a class="edit-btn ctr-btn inline-flex" href="/tags/<%=@tag.id%>/edit">edit</a>
<form class ="flex show" action="/tags/<%=@tag.id%>/delete" method="POST">
  <input class="dlt-btn"  type="submit" value="delete">
</form>
<br />
<a class="ctr-btn inline-flex" href="/tags">back to my tags</a>
