/* ------BUTTONS AND LINKS ------- */

a{
  color: orange;
  text-decoration: underline;
  font-size: 1.2em;

}

/* hover does not change to hand in chrome inspect mode - need webkits? */
a:hover{
  -webkit-transition:brown 300ms ease-in-out;
  -moz-transition:brown 300ms ease-in-out;
  color: brown;
  background-color: #E7BC76;
  /* clickable area is full width of flex box - how to change? */
}

a:active {
  color: white;
}
a.ctr-btn{
  justify-content: center;

}

.dlt-btn{
  cursor: pointer;
  background-color: red;
  border-radius: 8px;
  border-color:gold;
  font-size:1em;
  /* delete button font size keeping overall "form" font size */
  font-family: cursive;
  color: white;
  height: 2em;
  width: 4em;
  margin-left: 1em;
  margin-right: 1em;
}

.dlt-btn:hover{
  background-color: darkred;
}

.show{
  justify-content: center;
}

/* edit button text top justified */
a.edit-btn{
  margin:0;
  border: 1px solid gold;
  background-color: grey;
  color:white;
  height: 2em;
  width: 4em;
  border-radius:8px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  font-size: 1.2em;
}

a.edit-btn:hover{
  background-color: #5D5D5D;
}

input.submit-btn{
  cursor: pointer;
  background-color: black;
  border-radius: 8px;
  border-color:gold;
  font-size:1em;
  font-family: cursive;
  color: white;
  /* align-self: center; */
  /* justify-content: center; */
  text-align: center;
  height: 2em;
  width: 4em;
  margin-left: 1em;
  margin-right: 1em;
}
