.title-row{
  justify-content: space-around;
  text-align: left;
}

.title-cell{
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  padding:0;
  width: 6em;
}
p {
  padding: 0;
  margin:0;
}

.data{
  align-items: space-around;
  color: orange;
}

.idx-btns{
  align-content: center;
  /* border: 1px solid green; */
}

form.idx-dlt{
  /* border:1px solid blue; */
  min-width:0;
  justify-content: center;
}

.cells{
  justify-content: space-around;

}

.cell-data{
  justify-content: center;
  width:9em;
}


a.idx-edit-btn{
  border: 1px solid gold;
  background-color: grey;
  color:white;
  height: 2em;
  width: 4em;
  border-radius:8px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 1em;
}

a.idx-edit-btn:hover{
  background-color: #5D5D5D;
}

.sort-by{
  justify-content: center;
}

a.sort-btn{
  padding: 0em 0.5em 0em 0.5em;
}

/* .idx-row{
  flex-direction: row;
} */

/* .ind-btns{
  flex:1;
  align-items: flex-end;
} */
